{{- /*
     * simple.tmpl
     * No-frills program
     * By J. Stuart McMurray
     * Created 20230204
     * Last Modified 20230421
     */ -}}
{{ define "description" }}A no-frills tool{{ end }}
{{/* vim: set filetype=gotexttmpl noexpandtab: */ -}}
