{{- /*
     * debug_t.tmpl
     * Template for a TAP test to check for mqd and DEBUG comments
     * By J. Stuart McMurray
     * Created 20250310
     * Last Modified 20250311
     */ -}}
#!/bin/sh
#
# debug.t
# Make sure we don't have debugging things left in
# By {{ .Author }}
# Created {{ .Today }}
# Last Modified {{ .Today }}

set -eu
if (set -o pipefail 2>/dev/null); then set -o pipefail; fi

. t/shmore.subr

tap_plan 3

# Make sure we're not using MQD.
GOT="$(go run . -h </dev/null 2>&1 | egrep 'MQD DEBUG PACKAGE LOADED$' ||:)"
tap_is "$GOT" "" "Not using github.com/magisterquis/mqd" "$0" $LINENO

# Make sure we didn't leave any stray DEBUGs lying about.
GOT="$(egrep -InR '#[[:space:]]*DEBUG' | sort -u ||:)"
tap_is \
        "$GOT" \
        "" \
        "No files with DEBUG comments" \
        "$0" $LINENO

# Should get happy help output.  Not exiting cleanly is ok, and part of
# testing.
set +e
go run . -h 2>/dev/null
tap_ok $? "Ran with -h ok" "$0" $LINENO
set -e

# vim: ft=sh
